* {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: Chivo;
}

h2 {
  font-size: 1.5em;
  color: #404042;
  opacity: .7;
  margin: .8em;
  text-align: center;
}

a {
  color: #B2B2B2;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: white;
}

p {
  color: #404042;
  opacity: .7;
}


.box {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.box2 {
  margin-left: 1em;
}

.box3 {
  min-height: : 3em;
  font-family: Chivo;
  color: silver;
  text-align: center;
  padding: 2em;
}

.banner {
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 8em;
  margin: 0;
}

.banner h2 {
  color: #404042;
  opacity: .7;
  font-size: 3em;
  font-weight: lighter;
  margin-top: 24px;
  margin-bottom: 45px;
}

.banner p {
  color: white;
  font-size: 24px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 10em;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 10em;
  margin-bottom: 12em;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20em;
  margin-bottom: 17em;
}

.container4 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100px;
  margin-bottom: 17em;
}

.btn-holos {
  background-color: #B2B2B2;
  color: white;
  width: 190px;
  padding: 50px;
  border-radius: 140px 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.btn-holos:hover {
  background-color: red;
  color: white;
}

.btn-impress {
  font-family: Chivo;
  font-size: .8em;
  color: white;
}

.btn-impress:hover {
  color: grey;
}

.jumpto {
  font-family: Chivo;
  color: black;
}

.jumpto:hover {
  color: black;
}

.flex-cards {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.flex-cards > div {
  width: auto;
  margin: 10px;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 300px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  font-size: 1.1em;
  margin: .5em;
}

.footer {
  background: #B2B2B2;
  text-align: center;
  padding: 24px 0;
}

.footer h3 {
  font-size: 1.2em;
  color: white;
}

/* Wave container */

.wave-container {
  position: flex;
  background: white;
  overflow: hidden;
}
.wave-container > svg {
  display: block;
}
  
/* New media queries */
@media (max-width: 800px) {
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .card-white {
    width: auto;
  }
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container3 {
    width: auto;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container3 {
    width: auto;
    height: auto;
  }
  .banner h1 {
    font-size: 6em;
    padding: 30px 0;
  }
  .banner h2 {
    font-size: 2.2em;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container3 {
    width: auto;
    height: auto;
  }
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .banner h1 {
    font-size: 5em;
    padding: 0;
  }
  .banner h2 {
    font-size: 2em;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container3 {
    width: auto;
    height: auto;
  }
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .banner h1 {
    font-size: 3em;
    margin: 0;
  }
  .banner h2 {
    font-size: 1.9em;
  }
}



/* Start of ANIMATIONS */

.typewriter-h4 {
  display: inline-block;
  height: 3em;
  text-align: right;
  margin-left: 1.5%;
  padding-right: 1.5%;
  font-family: monospace;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  animation: typing 9s steps(60) forwards;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {width: 0%;}
  to {width: 100%;}
}

.shadow {
  animation: text-shadow 13s infinite alternate;
  padding-top: 1em;
  padding-bottom: 2em;
}

@keyframes text-shadow {
  0% {text-shadow: 1px 1px 0px #333}
  10% {text-shadow: 3px 3px 2px #333}
  20% {text-shadow: 9px 10px 6px #999}
  40% {text-shadow: 10px 13px 6px #ccc}
  60% {text-shadow: 6px 10px 4px #ccc}
  80% {text-shadow: 2px 8px 3px #ccc}
  100% {text-shadow: 1px 5px 1px #eee}
}

/* Box Animation */
.box2 {
  margin-left: 1em;
}

.containerAnimate {
  width: 30em;
  height: 3em;
  font-family: Chivo;
  color: white;
  text-align: center;
  padding: 5px;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animateContainer;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes animateContainer {
  0%   {left: 0px; background: white; width: 30em;}
  3%   {left: 5px; background: white; width: 30em;}
  5%   {left: 10px; background: silver; width: 31em;}
  7%   {left: 15px; background: darkgrey; width: 31em;}  
  10%  {left: 20px; background: grey; width: 32em;}
  15%  {left: 30px; background: green; width: 33em;}
  20%  {left: 90px; background: blue; width: 32em;}
  25%  {left: 130px; background: black; width: 31em;}
  30%  {left: 250px; background: white; width: 30em;}
  35%  {left: 400px; background: magenta; width: 29em;}
  40%  {left: 500px; background: red; width: 28em;}
  45%  {left: 558px; background: aqua; width: 29em;}
  50%  {left: 610px; background: white; width: 30em;}
  55%  {left: 700px; background: pink; width: 31em;}
  60%  {left: 780px; background: indianred; width: 32em;}
  65%  {left: 820px; background: crimson; width: 33em;}
  70%  {left: 910px; background: purple; width: 34em;}
  75%  {left: 950px; background: white; width: 35em;}
  80%  {left: 1000px; background: khaki; width: 35.5em;}
  85%  {left: 1100px; background: yellow; width: 34em;}
  90%  {left: 1170px; background: fuchsia; width: 33em;}
  95%  {left: 1200px; background: blue; width: 32em;}
  100% {left: 1280px; background: white; width: 31em;}
}

.containerAnimate2 {
  width: 30em;
  height: 3em;
  font-family: Chivo;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animatedBox;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes animatedBox {
  0%   {left: 0px; background: white; width: 30em;}
  3%   {left: 20px; background: #deeaee; width: 30em;}
  5%   {left: 40px; background: #d5e1df; width: 30em;}
  7%   {left: 70px; background: white; width: 30em;}  
  10%  {left: 100px; background: #d6cbd3; width: 30em;}
  15%  {left: 150px; background: white; width: 30em;}
  20%  {left: 230px; background: #f0f0f0; width: 30em;}
  25%  {left: 300px; background: #eaece5; width: 30em;}
  30%  {left: 380px; background: white; width: 30em;}
  35%  {left: 450px; background: #f0efef; width: 30em;}
  40%  {left: 600px; background: #e4d1d1; width: 30em;}
  45%  {left: 750px; background: #e0e2e4; width: 30em;}
  50%  {left: 820px; background: white; width: 30em;}
  55%  {left: 500px; background: red; width: 30em;}
  60%  {left: 700px; background: #cfe0e8; width: 30em;}
  65%  {left: 820px; background: #fff2df; width: 30em;}
  70%  {left: 910px; background: #fbefcc; width: 30em;}
  75%  {left: 950px; background: white; width: 30em;}
  80%  {left: 1000px; background: #f9d5e5; width: 30em;}
  85%  {left: 1100px; background: #d6d4e0; width: 30em;}
  90%  {left: 1170px; background: #ffeead; width: 30em;}
  95%  {left: 1200px; background: green; width: 30em;}
  100% {left: 1280px; background: white; width: 30em;}
}

.containerAnimate3 {
  width: 30em;
  height: 3em;
  font-family: Chivo;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animatedMox;
  animation-duration: 65s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes animatedMox {
  0%   {left: 1280px; background: white; width: 30em;}
  3%   {left: 1200px; background: #deeaee; width: 30em;}
  5%   {left: 1170px; background: #d5e1df; width: 30em;}
  7%   {left: 1100px; background: white; width: 30em;}  
  10%  {left: 1000px; background: #d6cbd3; width: 30em;}
  15%  {left: 900px; background: white; width: 30em;}
  20%  {left: 910px; background: #f0f0f0; width: 30em;}
  25%  {left: 800px; background: #eaece5; width: 30em;}
  30%  {left: 700px; background: white; width: 30em;}
  35%  {left: 1100px; background: #f0efef; width: 30em;}
  40%  {left: 600px; background: #e4d1d1; width: 30em;}
  45%  {left: 750px; background: #e0e2e4; width: 30em;}
  50%  {left: 820px; background: white; width: 30em;}
  55%  {left: 500px; background: blue; width: 30em;}
  60%  {left: 400px; background: #cfe0e8; width: 30em;}
  65%  {left: 820px; background: white; width: 30em;}
  70%  {left: 300px; background: #fbefcc; width: 30em;}
  75%  {left: 250px; background: #fff2df; width: 30em;}
  80%  {left: 200px; background: #f9d5e5; width: 30em;}
  85%  {left: 100px; background: #d6d4e0; width: 30em;}
  90%  {left: 50px; background: #ffeead; width: 30em;}
  95%  {left: 20px; background: yellow; width: 30em;}
  100% {left: 0px; background: white; width: 30em;}
}
