* {
  box-sizing: border-box;
}


body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: Chivo;
}

h2 {
  font-size: 1.5em;
  color: #404042;
  opacity: .7;
  margin: .8em;
  text-align: center;
}



.homeBtn {
  color: black !important;
  font-family: Chivo;
  font-size: .7em;
  text-transform: uppercase;
  text-decoration: none;
  background: silver;
  padding: 10px;
  border-radius: 30px 8px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: .5em;
}

.homeBtn:hover {
  text-decoration: none;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

a {
  color: #B2B2B2;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: white;
}

p {
  color: #404042;
  opacity: .7;
}


.box {
  background-size: cover;
  background-position: center;
  padding: 5em 0;
}

.box2 {
  margin-bottom: 2em;
}

.box3 {
  min-height: : 3em;
  font-family: Chivo;
  color: grey;
  text-align: center;
  padding: 2em;
}

.box4 {
  height: 5em;
  text-align: center;
  padding: 1.5em;
  margin: 2em;
}

.banner {
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 8em;
  margin: 0;
}

.banner h2 {
  color: #404042;
  opacity: .7;
  font-size: 3em;
  font-weight: lighter;
  margin-top: 24px;
  margin-bottom: 45px;
}

.banner p {
  color: white;
  font-size: 24px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 8em;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 8em;
  margin-bottom: 10em;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 20em;
  margin-bottom: 1em;
}

.container4 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100px;
  margin-bottom: 17em;
}

.container5 {
  width: auto;
  height: auto;
  margin: 2em;
  padding: 1em;
}

.container6 {
  font-family: Chivo;
  color: white;
  text-align: center;
  padding: 2em;
  width: auto;
  height: 2em;
  margin: 2em;
}

.btn-holos {
  background-color: #B2B2B2;
  color: white;
  width: 190px;
  padding: 50px;
  border-radius: 140px 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.btn-holos:hover {
  background-color: red;
  color: white;
}

.btn-impress {
  font-family: Chivo;
  font-size: .8em;
  color: white;
}

.btn-impress:hover {
  color: grey;
}

.jumpto {
  font-family: Chivo;
  color: black;
}

.jumpto:hover {
  color: black;
}

.flex-cards {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.flex-cards > div {
  width: auto;
  margin: 10px;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 300px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  font-size: 1.1em;
  margin: .5em;
}

.columns-n1 {
  background: white;
  margin: .5em;
}

.columns-next2 {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.columns-next2 > div {
  width: auto;
  margin: 2em;
}

.columns2-next2 {
  font-family: Overpass;
  color: #404042;
  font-size: 1.3em;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 100%;
  text-align: center;
  justify-content: initial;
  padding: .7em;
  margin: 1em;
}

.footer {
  background: #B2B2B2;
  text-align: center;
  padding: 24px 0;
}

.footer h3 {
  font-size: 1.2em;
  color: white;
}
  
/* New media queries */
@media (max-width: 800px) {
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .columns-next2 {
  display: flex;
  flex-flow: row wrap; 
  }
  .card-white {
    width: auto;
  }
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container3 {
    max-width: auto;
    height: auto;
  }
  .container5 {
    max-width: 70em;
    height: auto;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container3 {
    max-width: 70em;
    height: auto;
  }
  .container5 {
    max-width: 70em;
    height: auto;
  }
  .banner h1 {
    font-size: 6em;
    padding: 30px 0;
  }
  .banner h2 {
    font-size: 2.2em;
  }
  .box4 {

  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container3 {
    max-width: 50em;
    height: auto;
  }
  .container5 {
    max-width: 50em;
    height: auto;
  }
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .columns-next2 {
  display: flex;
  flex-flow: row wrap; 
  }  
  .banner h1 {
    font-size: 5em;
    padding: 0;
  }
  .banner h2 {
    font-size: 2em;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container3 {
    max-width: 35em;
    height: auto;
  }
  .container5 {
    max-width: 30em;
    height: auto;
  }
  .flex-cards {
  display: flex;
  flex-flow: row wrap;
  }
  .columns-next2 {
  display: flex;
  flex-flow: wrap; 
  }
  .banner h1 {
    font-size: 3em;
    margin: 0;
  }
  .banner h2 {
    font-size: 1.9em;
  }
}



/* Start of ANIMATIONS */

.typewriter-h4 {
  display: inline-block;
  height: 3em;
  text-align: right;
  margin-left: 1.5%;
  padding-right: 1.5%;
  font-family: monospace;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  animation: typing 9s steps(60) forwards;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {width: 0%;}
  to {width: 100%;}
}

.shadow {
  animation: text-shadow 13s infinite alternate;
  padding-top: 1em;
  padding-bottom: 2em;
}

@keyframes text-shadow {
  0% {text-shadow: 1px 1px 0px #333}
  10% {text-shadow: 3px 3px 2px #333}
  20% {text-shadow: 9px 10px 6px #999}
  40% {text-shadow: 10px 13px 6px #ccc}
  60% {text-shadow: 6px 10px 4px #ccc}
  80% {text-shadow: 2px 8px 3px #ccc}
  100% {text-shadow: 1px 5px 1px #eee}
}

/* Box Animation */

.containerAnimate {
  width: 100%;
  height: 3.5em;
  font-family: Chivo;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 5px;
  background: white;
  position: relative;
  animation-name: animateContainer;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes animateContainer {
  0%   {left: 0%; background: black; width: 100%;}
  3%   {left: 0%; background: darkgrey; width: 100%;}
  5%   {left: 0%; background: darkblue; width: 100%;}
  7%   {left: 0%; background: blue; width: 100%;}  
  10%  {left: 0%; background: darkred width: 100%;}
  15%  {left: 0%; background: red; width: 100%;}
  20%  {left: 0%; background: green; width: 100%;}
  25%  {left: 0%; background: darkgreen; width: 100%;}
  30%  {left: 0%; background: darkgrey; width: 100%;}
  35%  {left: 0%; background: black; width: 100%;}
  40%  {left: 0%; background: darkred; width: 100%;}
  45%  {left: 0%; background: red; width: 100%;}
  50%  {left: 0%; background: brown; width: 100%;}
  55%  {left: 0%; background: saddlebrown; width: 100%;}
  60%  {left: 0%; background: indianred; width: 100%;}
  65%  {left: 0%; background: crimson; width: 100%;}
  70%  {left: 0%; background: purple; width: 100%;}
  75%  {left: 0%; background: darkgrey; width: 100%;}
  80%  {left: 0%; background: khaki; width: 100%;}
  85%  {left: 0%; background: slategrey; width: 100%;}
  90%  {left: 0%; background: fuchsia; width: 100%;}
  95%  {left: 0%; background: blue; width: 100%;}
  100% {left: 0%; background: white; width: 100%;}
}


.containerAnimate1 {
  width: 30em;
  height: 8em;
  font-family: Chivo;
  font-size: .9em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animateKontaner;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes animateKontaner {
  0%   {left: 0%; background: white; width: 30vw;}
  3%   {left: 1%; background: linen; width: 30vw;}
  5%   {left: 5%; background: lightgrey; width: 30vw;}
  7%   {left: 10%; background: grey; width: 30vw;}  
  10%  {left: 18%; background: darkgrey; width: 30vw;}
  15%  {left: 25%; background: black; width: 30vw;}
  20%  {left: 30%; background: darkblue; width: 30vw;}
  25%  {left: 35%; background: blue; width: 30vw;}
  30%  {left: 28%; background: green; width: 30vw;}
  35%  {left: 27%; background: darkgreen; width: 30vw;}
  40%  {left: 26%; background: red; width: 30vw;}
  45%  {left: 25%; background: darkred; width: 30vw;}
  50%  {left: 24%; background: navy; width: 30vw;}
  55%  {left: 23%; background: midnightblue; width: 30vw;}
  60%  {left: 22%; background: royalblue; width: 30vw;}
  65%  {left: 21%; background: slateblue; width: 30vw;}
  70%  {left: 20%; background: slategrey; width: 30vw;}
  75%  {left: 18%; background: seagreen; width: 30vw;}
  80%  {left: 15%; background: green; width: 30vw;}
  85%  {left: 25%; background: darkgreen; width: 30vw;}
  90%  {left: 20%; background: darkgrey; width: 30vw;}
  95%  {left: 10%; background: black; width: 30vw;}
  100% {left: 5%; background: grey; width: 30vw;}
}

.containerAnimate2 {
  width: 30em;
  height: 8em;
  font-family: Chivo;
  font-size: .9em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animatedBox;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes animatedBox {
  0%   {left: 0%; background: red; width: 30vw;}
  3%   {left: 5%; background: orangered; width: 30vw;}
  5%   {left: 8%; background: olive; width: 30vw;}
  7%   {left: 9%; background: olivedrab; width: 30vw;}  
  10%  {left: 10%; background: grey; width: 30vw;}
  15%  {left: 11%; background: darkgrey; width: 30vw;}
  20%  {left: 12%; background: grey; width: 30vw;}
  25%  {left: 14%; background: green; width: 30vw;}
  30%  {left: 15%; background: darkgreen; width: 30vw;}
  35%  {left: 20%; background: darkblue; width: 30vw;}
  40%  {left: 25%; background: blue; width: 30vw;}
  45%  {left: 18%; background: aliceblue; width: 30vw;}
  50%  {left: 15%; background: red; width: 30vw;}
  55%  {left: 7%; background: darkred; width: 30vw;}
  60%  {left: 5%; background: black; width: 30vw;}
  65%  {left: 3%; background: aliceblue; width: 30vw;}
  70%  {left: 10%; background: green; width: 30vw;}
  75%  {left: 13%; background: midnightblue; width: 30vw;}
  80%  {left: 17%; background: navy; width: 30vw;}
  85%  {left: 20%; background: mediumblue; width: 30vw;}
  90%  {left: 10%; background: honeydew; width: 30vw;}
  95%  {left: 7%; background: seashell; width: 30vw;}
  100% {left: 4%; background: white; width: 30vw;}
}

.containerAnimate3 {
  width: 30em;
  height: 8em;
  font-family: Chivo;
  font-size: .9em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animatedMox;
  animation-duration: 65s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes animatedMox {
  0%   {left: 30%; background: darkgrey; width: 30vw;}
  3%   {left: 40%; background: lightgrey; width: 30vw;}
  5%   {left: 45%; background: lightblue; width: 30vw;}
  7%   {left: 53%; background: navy; width: 30vw;}  
  10%  {left: 50%; background: blue; width: 30vw;}
  15%  {left: 44%; background: darkblue; width: 30vw;}
  20%  {left: 40%; background: black; width: 30vw;}
  25%  {left: 30%; background: darkgrey; width: 30vw;}
  30%  {left: 25%; background: darkred; width: 30vw;}
  35%  {left: 20%; background: red; width: 30vw;}
  40%  {left: 15%; background: indianred; width: 30vw;}
  45%  {left: 10%; background: green; width: 30vw;}
  50%  {left: 5%; background: white; width: 30vw;}
  55%  {left: 15%; background: brown; width: 30vw;}
  60%  {left: 20%; background: darkorange; width: 30vw;}
  65%  {left: 25%; background: orange; width: 30vw;}
  70%  {left: 30%; background: yellow; width: 30vw;}
  75%  {left: 35%; background: linen; width: 30vw;}
  80%  {left: 18%; background: black; width: 30vw;}
  85%  {left: 10%; background: darkgrey; width: 30vw;}
  90%  {left: 7%; background: grey; width: 30vw;}
  95%  {left: 5%; background: gainsboro; width: 30vw;}
  100% {left: 3%; background: white; width: 30vw;}
}

.containerAnimate4 {
  width: 30em;
  height: 8em;
  font-family: Chivo;
  font-size: .9em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background: white;
  border-radius: 13px;
  position: relative;
  animation-name: animatedKox;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes animatedKox {
  0%   {left: 10%; background: green; width: 30vw;}
  3%   {left: 13%; background: blue; width: 30vw;}
  5%   {left: 25%; background: red; width: 30vw;}
  7%   {left: 20%; background: white; width: 30vw;}  
  10%  {left: 8%; background: brown; width: 30vw;}
  15%  {left: 15%; background: black; width: 30vw;}
  20%  {left: 30%; background: purple; width: 30vw;}
  25%  {left: 40%; background: saddlebrown; width: 30vw;}
  30%  {left: 35%; background: sandybrown; width: 30vw;}
  35%  {left: 20%; background: slategrey; width: 30vw;}
  40%  {left: 10%; background: grey; width: 30vw;}
  45%  {left: 5%; background: darkgrey; width: 30vw;}
  50%  {left: 0%; background: darkgreen; width: 30vw;}
  55%  {left: 10%; background: darkblue; width: 30vw;}
  60%  {left: 20%; background: black; width: 30vw;}
  65%  {left: 30%; background: darkgrey; width: 30vw;}
  70%  {left: 21%; background: red; width: 30vw;}
  75%  {left: 15%; background: blue; width: 30vw;}
  80%  {left: 13%; background: red; color: white; width: 30vw;}
  85%  {left: 7%; background: darkgrey; width: 30vw;}
  90%  {left: 3%; background: grey; width: 30vw;}
  95%  {left: 1%; background: black; width: 30vw;}
  100% {left: 0%; background: white; width: 30vw;}
}